a.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}

.section-1 {
  width: auto;
  height: auto;
  background-color: #313131;
  padding-bottom: 50px;
}

.header {
  margin: 7vh;
  padding-top: 8vh;
}

.header h2 {
  color: white;
  font-size: 3rem;
}

.header h3 {
  color: white;
  font-size: 2vh;
  margin-right: 10vh;
}
.filter-field {
  margin: 7vh;
  padding-bottom: 30vh;
}

.mat-form-field {
  font-size: 14px;
  width: 40vh;
  font-family: Prompt;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

.mat-form-field .mat-input-element {
  color: black;
}

table {
  width: 100%;
  font-family: Prompt;
}

td,
th {
  width: 10%;
}

th {
  font-size: 2vh;
  font-weight: bold;
}

.mat-row {
  &:hover {
    background-color: #e9f3ff;
  }
  a {
    color: #3e75ff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.mat-icon {
  color: #3e75ff;
}
.price-label {
  color: #f26c4f;

}

@media screen and (max-width: 768px) {
  .header h2 {
    color: white;
    font-size: 40px;
  }
  .mat-elevation-z8 {
    background: transparent;
    box-shadow: none;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
    font-family: Prompt;
  }

  .mat-header-row {
    display: none;
  }

  tbody {
    display: block;
    width: 100%;
    font-family: Prompt;
  }

  .mat-table {
    background: transparent;
    * {
      box-sizing: border-box;
    }

    .mat-row {
      display: block;
      overflow: hidden;
      height: auto;
      position: relative;
      clear: both;
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
      background-color: #fff;
      border-radius: 7px;
      + .mat-row {
        margin-top: 24px;
      }
    }

    .mat-cell {
      display: block;
      width: 100%;
      padding: 0 16px;
      margin: 16px 0;
      border: 0 none;
      &:first-child {
        padding: 0 48px 0 16px;
        a {
          font-size: 2rem;          
          color: #3e75ff;
        }
        &:before {
          display: none;
        }
      }
      &.m-card-sub-title {
        margin-top: -8px;
        padding: 0 48px 0 16px;
        color: rgba(0, 0, 0, 0.54);
      }
      &.m-card-title {
          font-size: 2vw;
      }
      
    }

    .has_label_on_mobile {
      &:before {
        content: attr(data-label);
        display: inline;
        font-weight: bold;
      }
    }

  }

  .mat-paginator {
    margin-top: 24px;
  }
}

@media (max-width: 450px) {
  .header h2 {
    color: white;
    font-size: 21px;
  }
  .mat-elevation-z8 {
    background: transparent;
    box-shadow: none;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
    font-family: Prompt;
  }

  .mat-header-row {
    display: none;
  }

  tbody {
    display: block;
    width: 100%;
    font-family: Prompt;
  }

  .mat-table {
    background: transparent;
    * {
      box-sizing: border-box;
    }

    .mat-row {
      display: block;
      overflow: hidden;
      height: auto;
      position: relative;
      clear: both;
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
      background-color: #fff;
      border-radius: 7px;
      + .mat-row {
        margin-top: 24px;
      }
    }

    .mat-cell {
      display: block;
      width: 100%;
      padding: 0 16px;
      margin: 16px 0;
      border: 0 none;
      &:first-child {
        padding: 0 48px 0 16px;
        a {
          font-size: 20px;
          // font-weight: 400;
          
          color: #3e75ff;
        }
        &:before {
          display: none;
        }
      }
      &.m-card-sub-title {
        margin-top: -8px;
        padding: 0 48px 0 16px;
        color: rgba(0, 0, 0, 0.54);
      }
      &.m-card-title {
          font-size: 2vw;
      }
      
    }

    .has_label_on_mobile {
      &:before {
        content: attr(data-label);
        display: inline;
        font-weight: bold;
      }
    }

  }

  .mat-paginator {
    margin-top: 24px;
  }
}