.section-1 {
    width: auto;
    height: 1000px;
    background-color: #313131;

    
}
table {
    width: 100%;
    font-family: Prompt;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
    font-family: Prompt;
  }
  
  td, th {
    width: 25%;
  }

.filter-field {
    margin: 10vh;
}


.mat-form-field  .mat-input-element {

    color: white;

}