a.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}

.section-1 {
  width: auto;
  height: 1000px;
  background-color: #313131;
}

.header {
  margin: 7vh;
  padding-top: 8vh;
}

.header h2 {
  color: white;
  font-size: 6vh;
}

.header h3 {
  color: white;
  font-size: 2vh;
  margin-right: 10vh;
}

table {
  width: 100%;
  font-family: Prompt;
  
}

td,
th {
  width: 10%;
}

th {
  font-size: 2vh;
  font-weight: bold;
}

.filter-field {
  margin: 7vh;
  padding-bottom: 30vh;
}

.mat-form-field {
  font-size: 14px;
  width: 30%;
  font-family: Prompt;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

.mat-form-field .mat-input-element {
  color: black;
}
