<nav class="navbar navbar-expand-xl sticky-top navbar-dark bg-black">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">CovidVisualization</a>
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="centerElement">
        <ul class="nav navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" *ngIf="!loginObj" href="#Infected">ยอดผู้ติดเชื้อ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="!loginObj" href="#map">จุดเสี่ยงในประเทศไทย</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="!loginObj" href="#chart">กราฟ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="!loginObj" href="#check-covid" tabindex="-1">ตรวจโควิด</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  *ngIf="loginObj" href="#" tabindex="-1">Dashboard ทิพย์</a>
          </li>
        </ul>
      </div>

      
        <div class="navbar-nav ms-auto">
          <div class="rightElement">
          <a
            *ngIf="!loginObj"
            id="loginButton"
            class="nav-link"
            routerLink="/login"
            routerLinkActive="active"
            >เข้าสู่ระบบ</a>
          <div *ngIf="loginObj" class="dropdown mr-5" dropdown>
            <a
              id="dropdownB"
              href="#"
              class="dropdown-toggle text-light"
              dropdownToggle
              (click)="(false)"
            >
              ยินดีต้อนรับ {{ loginObj.username }}
            </a>
            <div class="dropdown-menu" *dropdownMenu aria-labelledby="button-autoclose1">
              <a class="dropdown-item" routerLink="dashboard">Dashboard</a>
              <a class="dropdown-item">ไม่รู้เหมือนกัน</a>
              <a
                id="logoutButton"
                class="dropdown-item"
                (click)="onLogout()"
                routerLink="/"
                >ออกจากระบบ</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
