
ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
}

ul li {
  padding: 1em 1em;
}

/* .centerElement {
  padding-left: 10rem;
} */
#loginButton {
  padding-right: 9rem;
  color: #ecf0f1;
}

#dropdownB {}

@media screen and (max-width: 1676px) {
  #loginButton {
    padding-right: 4rem;
    color: #ecf0f1;
  }

}
.navbar {
  padding: 0;
}
.navbar .navbar-brand {
  padding: 0 0.7em;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
 }

.buttonNav {
  padding-right: 8rem;
}

.rightElement a{
  color: black;
  padding: 1em 1em;

}



.centerElement ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #ecf0f1;
  text-transform: uppercase;
  padding: 4px 0;
  transition: 0.5s;
}
.centerElement ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #ff7000;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
.centerElement ul li a:hover {
  color: #ecf0f1;
}
.centerElement ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#logoutButton {
  color: red;
}

/** Collape Navigaiton Bar **/
@media screen and (max-width: 1199px) {
  .rightElement a{
    padding: 0rem 2rem;
  
  }

}