.map-section {
    width: auto;
    height: 900px;
    background-color: wheat;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

#divmap {
    height: 100%;
}
