.container{
    width: 100%;
}

.box h1 {
    padding: 5%;

}

.selectLoginRegister {
    padding-top: 5%;
}

.selectLoginRegister button {
    margin: 10px;
    font-size: 30px;
    transition: 0.5s;    
 }

.selectLoginRegister button:hover {
    margin: 10px;
    font-size: 50px;    
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

.box {
    width: 100%;
    max-width: 650%;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #eceaea;
    margin: 5rem;
}

#loginContainer .p{
    font-size: large;
    text-align: center;
    
}

#exampleDataList {
    
    width: 60%;
    margin-left: 20%;

}

.from-control {
    width: 60%;
}