<body>
    <div class="container">
        <div class="selectLoginRegister">

            <button class="btn" type="button" (click)="LoginButtonClick()">
                Login
            </button>
            <button class="btn" type="button" (click)="RegisterButtonClick()">
                Register
            </button>
        </div>

        <section class="container">
            <div class="box">
                <div *ngIf="wantToLogin()" class="card-body" id="loginContainer">
                    <h1>Login</h1>
                    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
                        <div class="form-group col-12">
                            <label>Email</label><br />
                            <input class="from-control" type="email" required ngModel name="userEmail"
                                #userEmail="ngModel" (change)="log(userEmail)" />
                            <div class="alert-danger" *ngIf="userEmail.touched && !userEmail.valid">
                                Email is required
                            </div>
                        </div>

                        <div class="form-group col-12">
                            <label>Password</label><br />
                            <input class="from-control" required type="password" ngModel name="password"
                                #password="ngModel" (change)="log(password)" />
                            <div class="alert-danger" *ngIf="password.touched && !password.valid">
                                Password is required
                            </div>
                        </div>

                        <div class="form-group col-12">
                            <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Login</button>
                        </div>
                    </form>
                </div>

                <div *ngIf="wantToRegister()" class="card-body" id="registerContainer">
                    <h1>Register</h1>
                    <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
                        <!-- Email -->
                        <div class="form-group col-12">
                            <label>Email</label><br>
                            <input class="from-control" type="email" required ngModel name="userEmail"
                                #userEmail="ngModel" (change)="log(userEmail)" />
                            <div class="alert-danger" *ngIf="userEmail.touched && !userEmail.valid">
                                Email is required
                            </div>
                        </div>

                        <!-- Name -->
                        <div class="form-group col-12">
                            <label>FirstName</label><br>
                            <input class="from-control" required ngModel name="userName" #userName="ngModel"
                                (change)="log(userName)" />
                            <div class="alert-danger" *ngIf="userName.touched && !userName.valid">
                                Firstname is required.
                                <!-- <div *ngIf="userName.errors.required">FirstName is required.</div> -->
                            </div>
                        </div>

                        <!-- Surname -->
                        <div class="form-group col-12">
                            <label>Surname</label><br>
                            <input class="from-control" required ngModel name="userSurname" #userSurname="ngModel"
                                (change)="log(userSurname)" />
                            <div class="alert-danger" *ngIf="userSurname.touched && !userSurname.valid">
                                Surname is required.
                                <!-- <div *ngIf="userName.errors.required">FirstName is required.</div> -->
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="form-group col-12">
                            <label>Password</label><br>
                            <input class="from-control" required minlength="6" maxlength="20" type="password" ngModel
                                name="userPassword" #userPassword="ngModel" (change)="log(userPassword)" />
                            <div class="alert-danger" *ngIf="userPassword.touched && !userPassword.valid">
                                <div *ngIf="userPassword.errors?.minlength">
                                    Password should at least be 6 characters long.
                                </div>
                                <div *ngIf="userPassword.errors?.maxlength">
                                    Password should not exceed 20 characters long.
                                </div>
                                <div *ngIf="userPassword.errors?.required">
                                    Password is required
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-12">
                            <label>Retype Password</label><br>
                            <input class="from-control" required minlength="6" maxlength="20" type="password" ngModel
                                name="retypePassword" #retypePassword="ngModel" (change)="log(retypePassword)" />
                            <div class="alert-danger" *ngIf="(retypePassword.touched && !retypePassword.valid) || 
                                compairUserPassword(retypePassword, userPassword)">
                                <div *ngIf="retypePassword.errors?.minlength">
                                    Password should at least be 6 characters long.
                                </div>
                                <div *ngIf="retypePassword.errors?.maxlength">
                                    Password should not exceed 20 characters long.
                                </div>
                                <div *ngIf="retypePassword.errors?.required">
                                    Password is required
                                </div>
                                <div *ngIf="compairUserPassword(retypePassword, userPassword)">
                                    Password is not the same
                                </div>
                            </div>


                            <!-- Province -->
                            <br><br><label for="exampleDataList">Province</label><br>
                            <input class="form-control" required list="datalistOptions" id="exampleDataList"
                                placeholder="Type to search..." ngModel name="province" #province="ngModel"
                                (change)="log(province)" />
                            <div class="alert-danger" *ngIf="province.touched && !province.valid">
                                province is required.
                            </div>
                            <datalist id="datalistOptions">
                                <option value="นครราชสีมา"></option>
                                <option value="เชียงใหม่"></option>
                                <option value="กาญจนบุรี"></option>
                                <option value="ตาก"></option>
                                <option value="อุบลราชธานี"></option>
                                <option value="สุราษฎร์ธานี"></option>
                                <option value="ชัยภูมิ"></option>
                                <option value="แม่ฮ่องสอน"></option>
                                <option value="เพชรบูรณ์"></option>
                                <option value="ลำปาง"></option>
                                <option value="อุดรธานี"></option>
                                <option value="เชียงราย"></option>
                                <option value="น่าน"></option>
                                <option value="เลย"></option>
                                <option value="ขอนแก่น"></option>
                                <option value="พิษณุโลก"></option>
                                <option value="บุรีรัมย์"></option>
                                <option value="นครศรีธรรมราช"></option>
                                <option value="สกลนคร"></option>
                                <option value="นครสวรรค์"></option>
                                <option value="ศรีสะเกษ"></option>
                                <option value="กำแพงเพชร"></option>
                                <option value="ร้อยเอ็ด"></option>
                                <option value="สุรินทร์"></option>
                                <option value="อุตรดิตถ์"></option>
                                <option value="สงขลา"></option>
                                <option value="สระแก้ว"></option>
                                <option value="กาฬสินธุ์"></option>
                                <option value="อุทัยธานี"></option>
                                <option value="สุโขทัย"></option>
                                <option value="แพร่"></option>
                                <option value="ประจวบคีรีขันธ์"></option>
                                <option value="จันทบุรี"></option>
                                <option value="พะเยา"></option>
                                <option value="เพชรบุรี"></option>
                                <option value="ลพบุรี"></option>
                                <option value="ชุมพร"></option>
                                <option value="นครพนม"></option>
                                <option value="สุพรรณบุรี"></option>
                                <option value="ฉะเชิงเทรา"></option>
                                <option value="มหาสารคาม"></option>
                                <option value="ราชบุรี"></option>
                                <option value="ตรัง"></option>
                                <option value="ปราจีนบุรี"></option>
                                <option value="กระบี่"></option>
                                <option value="พิจิตร"></option>
                                <option value="ยะลา"></option>
                                <option value="ลำพูน"></option>
                                <option value="นราธิวาส"></option>
                                <option value="ชลบุรี"></option>
                                <option value="มุกดาหาร"></option>
                                <option value="บึงกาฬ"></option>
                                <option value="พังงา"></option>
                                <option value="ยโสธร"></option>
                                <option value="หนองบัวลำภู"></option>
                                <option value="สระบุรี"></option>
                                <option value="ระยอง"></option>
                                <option value="พัทลุง"></option>
                                <option value="ระนอง"></option>
                                <option value="อำนาจเจริญ"></option>
                                <option value="หนองคาย"></option>
                                <option value="ตราด"></option>
                                <option value="พระนครศรีอยุธยา"></option>
                                <option value="สตูล"></option>
                                <option value="ชัยนาท"></option>
                                <option value="นครปฐม"></option>
                                <option value="นครนายก"></option>
                                <option value="ปัตตานี"></option>
                                <option value="กรุงเทพมหานคร"></option>
                                <option value="ปทุมธานี"></option>
                                <option value="สมุทรปราการ"></option>
                                <option value="อ่างทอง"></option>
                                <option value="สมุทรสาคร"></option>
                                <option value="สิงห์บุรี"></option>
                                <option value="นนทบุรี"></option>
                                <option value="ภูเก็ต"></option>
                                <option value="สมุทรสงคราม"></option>
                            </datalist>
                        </div>

                        <!-- Button -->
                        <div class="form-group col-12">
                            <button type="submit" class="btn btn-primary"
                                [disabled]="registerForm.invalid">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>