.bg-section {
    width: auto;
    height: 800px;
    background-color: #313131;
    padding-bottom: 50px;
    padding: 2%;
}

.bg-section h1{
    color: white;
    font-size: 600%;
    text-align: left;
}
.bg-section h4{
    color: white;
    font-size: 28px;
    text-align: center;
}
.bg-section h3{
    color: white;
    font-size: 300%;
    text-align: center;
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.header {
    padding-bottom: 3%;
}

.header h1{
    color: white;
    font-size: 50px;
    text-align: center;
}

.header h2{
    color: #f26c4f;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
}
.container{
    width: 90%;
    height: auto;
    display: grid;
}

.box-area {
    margin: auto;
    display: block;
    padding-left: 20%;
    padding-right: 20%;
}

.box{
    position: static;
    border-radius: 20px;
    padding: 1rem;
    background: #ea5771;
    height: auto;
    padding: 1.5rem 1.8rem;
}

.box h5 {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 11vh;
    padding-left: 10vh;
}
.box h6 {
    color: white;
    font-size: 40px;
    padding-left: 10vh;
    text-align: center;
}

@media (max-width: 450px) {
    .header h1{
        color: white;
        font-size: 24px;
        text-align: center;
    }
    
    .header h2{
        color: #f26c4f;
        font-weight: bold;
        font-size: 35px;
        text-align: center;
    }
    .box{
        position: static;
        border-radius: 20px;
        padding: 0.5rem;
        background: #ea5771;
        height: 100%;
        /* padding: 1rem 1.3rem; */
    }
    .box h1{
        color: white;
        font-size: 20px;
        text-align: center;
    }
    .box h2{
        color: white;
        font-size: 20px;
        text-align: center;
    }
    .box h3{
        color: white;
        font-size: 20px;
        text-align: center;
    }
    .box h4{
        color: white;
        font-size: 20px;
        text-align: center;
    }
}
