<div id="top"></div>
<div id="Infected" class="bg-section">
  <div class="header">
    <h1>จำนวนตัวเลขผู้ติดเชื้อ</h1>
    <h2>COVID-19</h2>
    <h1>ในประเทศไทย</h1>
  </div>

  <div class="box-area">
    <section class="min-vh-100">
      <div class="container">
        <div class="row">
          <div class="col-12 text-white">
            <div class="box" style="background-color: #ea5771">
              <h2>ผู้ติดเชื้อสะสม</h2>
              <h1>{{amountInfected}}</h1>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4 text-white">
            <div class="box" style="background-color: #f68e56">
                <h4>กำลังรักษา</h4>
                <h3>{{amountHealing}}</h3>
            </div>
          </div>
          <div class="col-4 text-white">
            <div class="box" style="background-color: #3cb878">
                <h4>รักษาหายสะสม</h4>
                <h3>{{amountHealed}}</h3>
            </div>
          </div>
          <div class="col-4 text-white">
            <div class="box" style="background-color: #f26c4f">
                <h4>เสียชีวิตสะสม</h4>
                <h3>{{amountDeath}}</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
