<a class="anchor" id="Infected"></a>
<div class="bg-section">
  <div class="header">
    <h1>จำนวนตัวเลขผู้ติดเชื้อ</h1>
    <h2>COVID-19</h2>
    <h1>ในประเทศไทย</h1>
    <h5>{{ informationDate }}</h5>
  </div>

  <div class="box-area">

      <div class="container">
        <div class="row">
          <div class="col-12 text-white">
            <div class="box" id="box1">
              <div class="row">
                <div class="col text-white">
                  <h2>ผู้ติดเชื้อสะสม</h2>
                  <h1>{{ amountInfected }}</h1>                        
                  <h5>ผู้ติดเชื้อวันนี้</h5>
                  <h6>{{ amountInfectedToday }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-xl-4 col-lg-4 col-md-6 mt-3 text-white">
            <div class="box" id="box2">
              <h4>กำลังรักษา</h4>
              <h3>{{ amountHealing }}</h3>
            </div>
          </div>
          <div class="col-sm-12 col-xl-4 col-lg-4 col-md-6 mt-3 text-white">
            <div class="box" id="box4">
              <h4>เสียชีวิต</h4>
              <h3>{{ amountDeath }}</h3>
            </div>
          </div>
          <div class="col-sm-12 col-xl-4 col-lg-4 col-md-12 mt-3 text-white">
            <div class="box" id="box3">
              <h4>รักษาหาย</h4>
              <h3>{{ amountHealed }}</h3>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

