.dashboardContent {
    width: auto;
    height: auto;
    /* background-color: #313131; */
    /* background-image: linear-gradient(#000000 0%,#313131 15%,#535353 100%); */
    padding-bottom: 50px;
    padding: 2%;
}